<head>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/asz_web/assets/style.css">
    <title>ASZ IT course website</title>


    <style>
        .big_wrapper{
            margin-left: 10%;
            margin-right: 10%;
            background-color: var(--color-primary);
            padding: 5%;
            padding-top: 1%;
            margin-top: 1%;
        }
        .outside{ 
            background-color: var(--background-color);
        }
        .heading{
            text-align: center;
        }
        .link {
            text-decoration: none;
            color: var(--color-link);
        }
    </style>
</head>


<body class="outside">
    
    <div class="big_wrapper">
    
        <div class="heading">
        <h1>404 site not found</h1>
        </div>

        <div class="flex-container">
            <div><p><a class="link" href="../index.html">Home</a></p></div>
        </div>

        <div class="heading">
            <h1>404 Seite nicht gefunden</h1>
        </div>

    </div>

</body>

