<head>

    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <link rel="stylesheet" href="./assets/style.css">
    <title>ASZ IT course website</title>


    <style>
        .flex-container1 {
            display: flex;
            flex-wrap: nowrap;
            text-align: center;
            justify-content: center;
          }

        .flex-container1 > div {
            margin: 10px;
            padding: 30px;
            text-align: center;
        }

        .link {
            text-decoration: none;
            font-size: 2.5em;
            font-weight: bold;
        }
    </style>
</head>


<body class="outside">
    
    <div class="big_wrapper">
    
        <div class="heading">
            <h1>Autonome Schule Zürich IT Kurs</h1>
        </div>

        <div class="flex-container1">
            <div><p><a class="link" href="./en/index.html">English</a></p></div>
            <div><p><a class="link" href="./de/index.html">Deutsch</a></p></div>
        </div>

        <div class="heading">
            <h1>Autonomous School Zürich IT Course</h1>
        </div>

    </div>

</body>

