@charset "utf-8";

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	line-height:1.2;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


p {
	text-align: justify;
}

ul ul {
	list-style-type: '— ';
}

li {
	margin: 5px;
}

h1 {
	font-size: 3em;
	margin: 0.8em 0 0.5em 0;

}

h2 {
	font-size: 2.5em;
	margin: 0.8em 0 0.5em 0;
}

h3 {
	font-size: 1.5em;
	margin: 0.8em 0 0.5em 0;
}

h4 {
	font-size: 1.2em;
	margin: 0.8em 0 0.5em 0;
}
h5 {
	font-size: 1.12em;
	margin: 0.8em 0 0.5em 0;
}
h6 {
	font-size: 0.83em;
	margin: 0.8em 0 0.5em 0;
}



:root {
	--text-color:      #9dc6e4;
	--color-secondary: #9dc6e4;
	--color-primary:   rgb(70, 0, 255);
	--color-link:      rgb(70, 0, 255);
	--baseline-size: 1.2em;
}

.flex-container1 > div {
	border-style: solid;
	border-width: 2.5px;
	border-color: var(--color-secondary);
}


@font-face {
	font-family: 'IBM Plex';
	src: url('IBM/IBMPlexSans-Regular.otf');
	font-style: normal;
}
@font-face {
	font-family: 'IBM Plex';
	src: url('IBM/IBMPlexSans-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: 'IBM Plex';
	src: url('IBM/IBMPlexSans-Italic.otf');
	font-style: italic;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('IBM/IBMPlexMono-Regular.otf');
	font-style: normal;
}

* {
	font-family: 'IBM Plex';
    line-height: 1.3em;
	color: var(--text-color)
}




ul {
	margin-left: 30px;
}

ol {
	margin-left: 30px;
}

p {
	font-size: var(--baseline-size);
}

a::after {
	word-break: break-all;
	content: ' ↩';
}

.description {
    font-size: 1.1em;
	margin-bottom: 10px;
	margin-top: 10px;
}

.outside{ 
    background-color:var(--color-primary);
}

.heading {
    text-align: center;
}
.bigheading {
	margin-bottom: 0pt;
}
.smallheading {
	margin-top: 0pt;
	margin-bottom: 0pt;
}
.smallsubheading {
	margin-top: 0pt;
}

.link {
	text-decoration: underline;
}


.big_wrapper {
	margin-left: 10%;
	margin-right: 10%;
	background-color: var(--color-primary);
	padding: 5%;
	padding-top: 1%;
	margin-top: 1%;
	padding-bottom: 5%;
	margin-bottom: 1%;
	border-color: var(--color-secondary);
	border-style: solid;
	border-width: 2px;
}

.inlineicon {
	height: 1.1em;
}
.imagecontainer {
	text-align: center;
	margin: 40px auto;
}
.twocolor {
	filter: invert(82%) sepia(9%) saturate(1432%) hue-rotate(173deg) brightness(96%) contrast(86%);
	/* generated from here https: //codepen.io/sosuke/pen/Pjoqqp */
}

.footer1 {
	text-align: center;
	margin-top: 30px;
}

.footer1 * {
	margin: 10px;
}


.codeblock {
	display: flex;
	overflow: auto;
	margin: 8px 0px;
	padding: 8px 0px;
}
.codedescriptor {
	display: block;
}
pre code {
	display: block;
	background: none;
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	max-width: 100%;
	min-width: 100px;
	min-width: 50%;
	overflow: hidden;
}

.longfbox  {
	border: solid 2px;
	padding: 5px;
	margin: 10px 0px;
}

.codeblock *{
	display: inline;
}